<div class="card">
  <div class="card-title">Create a new password:</div>
  <div class="card-content">
    <form (ngSubmit)="onSubmitNewPass(f)" #f="ngForm">
        <div class="input-group">
          <label id="label-restore">Enter a new password:</label>
          <input type="password"
                 name="password"
                 placeholder="Password"
                 ngModel
                 required
                 />
        </div>
        <div class="input-group">
          <label id="label-restore">Confirm the password:</label>
          <input type="password"
                 name="confirm_password"
                 placeholder="Confirm password"
                 ngModel
                 required
                 />
        </div>
        <div class="card-buttons">
            <button class="btn btn-submit" type="submit">Submit</button>
        </div>
    </form>
    <app-error-modal *ngIf="isError" 
                     (closeModal)="handleCloseModal($event)"
                     [errorData]="errorData"></app-error-modal>
  </div>
</div>
