// sizes

$xl: 3rem;
$l: 2rem;
$m: 1.5rem;
$sm: 1.1rem;
$s: 0.9rem;
$xs: 0.5rem;
$xxs: 0.2rem;

// colors

$brown: #272727;
$orange: #efa946;
$grey: #d5dcde;
$light-grey: #f1f3f3;
$green: #dee3c1;
$beige: #efd9bc;
$white: #ffffff;
$blue: #6daadf;
$error: #e64646;
$input: #777777;


